
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^excelpintar\.web\.id$ [OR]
RewriteCond %{HTTP_HOST} ^www\.excelpintar\.web\.id$
RewriteRule ^/?$ "https\:\/\/excelpintar\.web\.id\/" [R=301,L]

